{% extends "base.html" %}

{% block title %}Переглянути курси{% endblock %}

{% block content %}
<h1>Курси</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Викладач</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>{{ course[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
